<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <form id="addTeamMembersForm">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Team Members</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <select class="form-control"
                        data-bind="value: addTeamMembersData.teamMember, options: addTeamMembersData.teamMembers, 
                                       optionsValue: 'userId', optionsText: 'name', optionsCaption: 'Select a Team Member'">
                    </select>
                    <label for="pMAssignedTo">Team Member</label>
                </div>
                <div class="form-group">
                    <label for="notAssignedMembersSelect">Not Assigned Members*</label>
                    <select id="notAssignedMembersSelect" name="selectedNotAssignedMembers" class="form-control"
                        multiple>
                    </select>
                </div>

                <div>
                    <ul data-bind="foreach: addTeamMembersData.notAssignedMembers">
                        <li data-bind="text: $data.name"></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center px-0">
                <button type="submit" class="btn navbar-color text-white btn-secondary">Save</button>
                <button type="button" class="btn cancel-btn-color ms-1 btn-outline-secondary"
                    data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>